#contrib-tags {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contrib-tags > span {
  margin-right: 10px;
}

a.tag.is-dark:hover {
  background-color: black;
}
