name: Build Linux version
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.16.1'
      - run: bash build-linux.sh
      - uses: actions/upload-artifact@v2
        with:
          name: core-artifact-linux
          path: build/*.zip
