name: Build Windows version
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.16.1'
      - run: pwsh build-win.ps1
      - uses: actions/upload-artifact@v2
        with:
          name: core-artifact-windows
          path: build/*.zip
