name: Build arm version
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: uraimo/run-on-arch-action@v2.0.5
        name: Run commands
        id: runcmd
        with:
          arch: armv7
          distro: ubuntu18.04

          # Not required, but speeds up builds by storing container images in
          # a GitHub package registry.
          githubToken: ${{ github.token }}

          # Set an output parameter `uname` for use in subsequent steps
          run: |
            curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
            apt install -y nodejs
            bash build-arm.sh
      - uses: actions/upload-artifact@v2
        with:
          name: core-artifact-arm
          path: build/*.zip
